<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{% for i in data %}-->
<!--<h1> |  | </h1>-->

<!--{% endfor %}-->


<form>
<table border="1">
    <tr>
        <th>name</th>
        <th>mobile</th>
        <th>work</th>
        <th>income</th>
        <th>image</th>
        <th>payslips</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    {% for i in data %}
    <a href=""></a>
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.work}}</td>
        <td>{{i.income}}</td>
        <td><img width="100" src="{{i.profile_image.url}}"></td>
        <td><a href="{{i.pay_slip.url}}">link to pay slip</a></td>
        <td><input type="submit" value="update" formaction="update_user/{{i.id}}"></td>
    <td><input type="submit" value="delete" formaction="delete_user/{{i.id}}"></td>
    </tr>
    
{% endfor %}
</table>


</form>
</body>
</html>