<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .center{
            width : 50%;
            margin : 20px auto;
        }
        input{
            width : 100%;
            height : 50px;
            margin : 10px 0px;
        }
    </style>
</head>
<body>
<form action="registeruser">
    <div class="center" >
        <input type="submit" value="add new student" formaction="student/register">
        <input type="submit" value="get all students records" formaction="student/records">
        <input type="submit" value="filter records using university" formaction="student/univsearch">
        <input type="submit" value="filter records using branch" formaction="student/branchsearch">

    </div>

</form>

</body>
</html>