<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center{
            width : 50%;
            margin : 20px auto;
        }
        input[type='text']{
            width : 50%;
            height : 50px;
            margin : 10px 0px;
            border : None;
            border-bottom : solid 1px gray;
        }
        input[type='submit']{
            width : 50%;
            height : 50px;
            margin : 10px 0px;
        }
    </style>
</head>
<body>
<form action="registeruser">
<div class="center">
    <input type= "text" name= "name" placeholder= "enter name">
    <input type= "text" name= "branch" placeholder= "enter branch">
    <input type= "text" name= "univ" placeholder= "enter university">
    <input type="submit" value="register">
</div>
</form>
</body>
</html>