<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center{
        width : 50%;
        margin : 100px auto;
        }
        input{
        width : 100%;
        height : 50px;
        margin-top : 10px;
        text-align : center;
        }


    </style>
</head>
<body>
<from action="getresultsbasedbranch">

    <div class="center">
    <input type="search" name="branch" placeholder="enter the branch name">
    <input type="submit" value="search" >
    </div>

</from>

</body>
</html>